@media  (max-width:768px)
{
    .component-1
{
    
    @media (max-width:768px){
        max-width: 768px;
        min-width: 768px;
    }
    
   
  

    .menu
    {
       
        @media (max-width:768px){
            top:0;
            right: 322px;
        }
       
    
    }
    .wrapper {
        
        @media (max-width:768px){
            padding-left: 40px ;
            padding-right: 385px;

        }
      
        
     
      

      
       ul
       {
          
           
           
        @include monserat(700,18px, white);
        
      
       }

    
    }


    .header
     

        .foot
        
        
        {
            
            .grey
            {
               
                 
                width: 5% ;

                
            
               
            }
            .black
            {
                
                 
               
                
                
                    
                    width:95% ;

                

                
               
                
                
                div:nth-of-type(1)
                {
                    
                    @media (max-width:768px){
                        margin-left: 635px;
                    }
                    
                 
                }
                div:nth-of-type(2)
                {
                    
                    @media (max-width:768px){
                        margin-left: 577px;
                    }
                    
                    
                }
                
            }
        }
        
}








.component-2
{

    
    @media (max-width:768px){
        max-width: 768px;
        min-width: 768px;
        height: 475px;
    }
 
    
 
    .start
    {
        
        display: none;
    }
    .middle
    {
        
            display: none;
    }

    .end
    {
        
        padding-left: 90px;
        padding-right:210px ;
        padding-bottom: 190px;
        width:750px;
        height: 525px;
        padding-top: 43px;
       

        

    }
}


.component-3{
    
   
    @media (max-width:768px){
        max-width: 768px;
        min-width: 768px;
        padding-top: 100px ;
        
        padding-left: 90px;
        height: 575px;
        flex-direction: column;
        display: flex;

        .grid-2
        {
@media  (min-width:322px)
{
    grid-template-columns: repeat(5, 102px);
    grid-template-rows: repeat(1, 100px);
    display: grid;
    margin-left: 3px;
    margin-top: 30px;
    gap:20px;
}
         
            .item
            {
    
                background-color: white;
            }
            .item:nth-of-type(5)
            {
                outline: 5px red solid;
                outline-offset: -5px;
            }
    
        }
      
    }
    
  
   display: flex;
   flex-direction: row;
   .h2
        {
           
           top:43px;
           left:88px;
        }
    .window
    {
        @media (max-width:768px){
            width: 591px;
            height: 295px;
        }
        
       
    }
    .grid
    {
       

        display:none;
        
       
        
        
       


       
        
    }
}




.component-4

{
    height: 433px;
    
    .venue 
    {
        padding-top: 60px;
        @include flex (0,center);
        flex-direction: column;
        
       
        width: 350px;
        height: 433px;
        background-color: #FF4242;
        opacity: 90%;
        margin-left: 42px;
        margin-bottom: 10px;
    }
    
    @media (max-width:768px){
        max-width: 768px;
        min-width: 768px;
    }
  
    

}


.component-5
{
    position: relative;
   
    @media (max-width:768px){
        max-width: 768px;
        min-width: 768px;
      padding-top: 38px;
      padding-left: 90px;
    }
   
    background-color: $black;
    
    .header
    {
        
        div{
            width: 42px;
            height: 43px;
            border :4px solid white;
            
            @include monserat(700,30px,white);
            @include flex(center,center)
        }
            span
            {
                @include monserat(700,18px, white);
                
                margin-left: 6px;
            }
    }


    div:nth-of-type(2)
    {
        @include monserat(300,14px, white);
       margin-top:20px
        
    }
    
    div:nth-of-type(3)
    {
        position: absolute;
      
        
        left: 645px;
        top: 65px;
    }

}



 
}